﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="container main-footer">
    <div class="panel-group" id="accordion">
        <div class="row">

            <div class="col-md-2 col-sm-2 col-lg-2">
                <div class="panel panel-default">
                    <div class="set-toggle panel-heading" data-toggle="collapse" data-parent="#accordion"
                         href="#accordion-1">
                        <a class="toggle-footer">
                            resource center
                        </a>
                    </div>
                    <div id="accordion-1" class="panel-collapse accordion-list">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><a href="#">Dogs</a></li>
                                <li><a href="#">Cats</a></li>
                                <li><a href="#">Birds</a></li>
                                <li><a href="#">Fish</a></li>
                                <li><a href="#">Small Animals</a></li>
                                <li><a href="#">Reptiles & Amphibians</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <div class="panel panel-default">
                    <div class="set-toggle panel-heading" data-toggle="collapse" data-parent="#accordion"
                         href="#accordion-2">
                        <a class="toggle-footer">
                            franchising
                        </a>
                    </div>
                    <div id="accordion-2" class="panel-collapse accordion-list">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><a href="#">Who We Are</a></li>
                                <li><a href="#">How to Become a Franchise</a></li>
                                <li><a href="#">Who We're Looking For</a></li>
                                <li><a href="#">Why Pet Supplies Plus</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Learn More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">

                <div class="panel panel-default">
                    <div class="set-toggle panel-heading" data-toggle="collapse" data-parent="#accordion"
                         href="#accordion-3">
                        <a class="toggle-footer">
                            about us
                        </a>
                    </div>
                    <div id="accordion-3" class="panel-collapse accordion-list">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Company News</a></li>
                                <li><a href="#">Executive Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">

                <div class="panel panel-default">
                    <div class="set-toggle panel-heading" data-toggle="collapse" data-parent="#accordion"
                         href="#accordion-4">
                        <a class="toggle-footer">
                            my account
                        </a>
                    </div>
                    <div id="accordion-4" class="panel-collapse accordion-list">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><a href="#">Login/Register</a></li>
                                <li><a href="#">Exclusive Offers</a></li>
                                <li><a href="#">Learn More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">

                <div class="panel panel-default">
                    <div class="set-toggle panel-heading" data-toggle="collapse" data-parent="#accordion"
                         href="#accordion-5">
                        <a class="toggle-footer">
                            contact us
                        </a>
                    </div>
                    <div id="accordion-5" class="panel-collapse accordion-list">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><a href="#">Email Us</a></li>
                                <li><a href="#">Store Locator</a></li>
                                <li><a href="#">FAQ's</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">

                <div class="panel panel-default">
                    <div class="panel-heading hidden-xs">
                        <a class="toggle-footer">
                            follow us
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="row social">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a href="#">
                                    <i class="fa fa-2x fa-facebook"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a href="#">
                                    <i class="fa fa-2x fa-twitter"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a href="#">
                                    <i class="fa fa-2x fa-instagram"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a href="#">
                                    <i class="fa fa-2x fa-pinterest"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <h5 class="hidden-xs">PET SUPPLIES PLUS</h5>
                        <small class="copyright">
                            &copy;2016 Pet Supplies Plus<sup>&copy;</sup>.All Rights Reserved.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center layer-footer">
    <ul class="list-inline">
        <li>
            <a href="#">
                <small>Sitemap</small>
            </a>
        </li>
        <li>
            <a href="#">
                <small>Privacy Policy</small>
            </a>
        </li>
    </ul>
</div>