﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<ul class="nav navbar-nav">
    
       @foreach (var listItem in @Model.Item.Children.InnerChildren)
       {
           if (@Html.Sitecore().Field("Text", listItem).ToString().Equals("Search"))
           {
                <li><a type="button" class="fa fa-search"></a></li>
           }
           else
           {
            <li> <a href=""> @Html.Sitecore().Field("Text", listItem)</a> </li>
           }


       }
    
</ul>
