﻿
<section id="hero-slider">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-generic" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        @foreach (var carouselSlide in Model.Item.Children)
        {
            <div class="item">
                @Html.Sitecore().Field("Image", carouselSlide)
                
                <div class="carousel-content">
                    <p class="text-large"><h1>Carefully selected products.</h1></p>

                    <p class="text-large">Minus the hassle.</p>
                    <a class="btn btn-primary btn-large">Shop Dogs Toys</a>
                </div>
            </div>
        }

        </div>
    </div>
    <!-- Carousel -->
</section>