﻿
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model RenderingModel
@{

}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Supplier Plus</title>

    <!--Css references-->
    <link href="~/Assets/CSS/bootstrap.min.css" rel="stylesheet" />
    <!--FontAwesome-->
    <link href="~/Assets/CSS/font-awesome.min.css" rel="stylesheet" />
    <!--Custom Css-->
    <link href="~/Assets/CSS/main.css" rel="stylesheet" />
    <link href="~/Assets/CSS/responsive.css" rel="stylesheet" />
    <link href="~/Assets/CSS/star-rating.min.css" rel="stylesheet" />

    <script src="https://use.typekit.net/mdw8wog.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="nav navbar--default" role="navigation">

            <div class="container">
                <div class="navbar-center navbar-brand" href="#">
                    PET SUPPLIES PLUS.
                    <h6 class="hidden-xs">Minus the hassle.</h6>
                </div>
                <div class="newsletter pull-left hidden-xs">
                    <a href="#">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span>MONTHLY SALE FLYER</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="profile-section pull-right hidden-xs">
                    <ul class="list-unstyled list-inline">
                        <li class="text-center">
                            <a href="#">
                                <img src="~/Assets/Images/location-icon.png" alt="locations">

                                <p>ROYAL OAK</p>
                            </a>
                        </li>
                        <li class="text-center">
                            <a href="#">
                                <img src="~/Assets/Images/heart-icon.jpg" alt="favourites">

                                <p>FAVOURITES</p>
                            </a>
                        </li>
                        <li class="text-center">
                            <a href="#">
                                <img class="img-circle" src="~/Assets/Images/display.jpg" height="30px" />

                                <p>MY PPC ACCOUNT</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Screen Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle header--toggle-btn pull-left" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="fa fa-user mobile-icon xs-screen-hidden" aria-hidden="true" href="#"></a>
                <a class="pull-right fa fa-map-marker xs-screen-hidden mobile-icon" aria-hidden="true" href="#"></a>
                <a class="pull-right fa fa-search xs-screen-hidden mobile-icon" aria-hidden="true" href="#"></a>
            </div>
            <!-- /Mobile Screen Header -->

            <hr class="header-separator">
            <!-- Navigation -->
            <div class="collapse navbar-collapse navbar-ex1-collapse nav-main">
                @Html.Sitecore().Placeholder("topnav")
            </div>
            <!-- /Navigation -->
        </nav>
        <input type="search" class="form-control input-lg nav-search" placeholder="Search for dog food, supplies and more.">
    </header>
    <!-- /HEADER -->
    @Html.Sitecore().Placeholder("HeroCarouselRendering")

    <footer>
        @Html.Sitecore().Placeholder("footer_nav")
    </footer>

    <script type="text/javascript" src="~/Assets/JS/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/script.js"></script>
    <script type="text/javascript" src="~/Assets/JS/star-rating.min.js"></script>
</body>
</html>
