/*!
 * Pet Supplier Plus
 * Copyright 2016 Systems Ltd
 */

/* Global Styles */

body {
    background-color: #ffffff;
    font-family: Effra;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none !important;
}

.test-image {
    background-image: url("../images/PSP_02.png");
    /*background-position: center center;*/
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*
* header - navigation
*/
.nav-search::-webkit-input-placeholder {
    text-align: center;
}

.nav-search:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

.nav-search::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

.nav-search:-ms-input-placeholder {
    text-align: center;
}

.navbar--default {
    background-color: #00af41;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-brand {
    color: #FFFFFF;
    float: none;
    font-size: 1.4em;
    font-weight: 800;
}

.navbar--default .newsletter {
    position: relative;
    padding-top: 20px;
    margin-top: 8px;
    background-color: transparent;
    font-size: 12px;
}

.navbar--default .profile-section {
    position: relative;
    padding-top: 10px;
    margin-top: 8px;
    background-color: transparent;
    font-size: 14px;
}

.navbar--default .profile-section a {
    text-decoration: none;
    color: #231f1f;
}

.navbar--default .profile-section i {
    font-size: 20px;
}

.navbar--default .newsletter a {
    color: #231f1f;
    text-decoration: none;
}

.header-separator {
    border-top: 1px solid #009f3b;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-main ul > li > a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
}

/*
* Slider
*/
.carousel-content {
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 25%;
    text-align: center;
    margin: auto;
    height: 100%;
    line-height: 1.0;
}

.carousel-indicators li {
    background-color: #817b77;
    border: none;
}

/*
* Common banner
*/
.common-banner {
    background-image: url("../images/common-banner.png");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.common-banner .banner-heading {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 48%;
}

/*
* Categories banner
*/
#category-banners {
    overflow-x: auto;
}

#category-banners .container {
    margin-top: 120px;
    margin-bottom: 120px;
}

.categories-banner img {
    width: 100%;
}

.category-index {
    max-width: 560px;
}

/*
* Products
*/

#hero-products {
    background-color: #f4f4f2;
    padding-top: 70px;
    padding-bottom: 140px;
}

.products-container {
    width: 1170px;
    padding-left: 0;
    overflow: hidden;
}

.products-header .view-all {
    padding-top: 35px;
}

.products-header .view-all p {
    font-size: 16px;
}

.products-header .view-all > i {
    padding-right: 2px;
    font-size: 20px;
}

.products-header .view-all .pull-left {
    padding-right: 5px !important;
}

#hero-products .profile-products {
    margin-top: 15px;
}

#promotions .container {
    padding-bottom: 20px;
}

.img-content .food-finder {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
}

.img-content .our-pack {
    position: absolute;
    top: 25%;
    left: 60%;
    color: white;
}

.img-content .resource {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}

.img-content .career {
    position: absolute;
    padding-right: 30px;
    top: 20%;
    left: 60%;
    color: white;
}

#social-main {
    margin-top: 80px;
    margin-bottom: 0;
}

#social-main .container-fluid {
    margin: 0;
    padding: 0;
}

#newsletter {
    background-color: #393535;
    padding-bottom: 25px;
}

#newsletter h3 {
    color: #ffffff;
}

footer {
    background-color: #231f1f;
    padding: 15px;

}

footer .panel, .panel-default, .panel-heading {
    background-color: transparent !important;
}

footer .panel-default {
    border: none !important;
}

footer .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}

footer .panel-heading a:hover {
    color: #dfe0df;
}

.toggle-footer, .social a > i {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

footer .copyright {
    color: #dfe0df;
    font-size: 9px;
}

footer .main-footer ul > li > a {
    color: #dfe0df;
    font-size: 10px;
}

footer .main-footer h5 {
    color: #00af41;
    font-weight: bold;
    /*font-size: 10px;*/
}

footer .layer-footer {
    padding-top: 10px;
}

footer .layer-footer > ul > li {
    border-right: 1px solid #dfe0df;
}

footer .layer-footer > ul > li > a {
    color: #dfe0df;
    font-size: 8px;
}

footer .layer-footer > ul > li:last-child {
    border-right: none;
}

footer .col-sm-2:last-child, .col-md-2:last-child, .col-lg-2:last-child {
    border-right: 0px;
}

/*
* Page Specifics
*/

/*
* Category Home
*/

#categories-home {
    background-color: #f4f4f2;
}
#categories-home .categories-home-header {
    padding-top: 58px;
    padding-bottom: 40px;
}
.categories-home-header .form-group {
    margin: 0;
}

#categories-home .product-categories-grid .row > [class*="col-"] {
    margin-bottom: 24px;
}



/*.product-categories-grid .row {*/
    /*margin-top: 35px;*/
/*}*/

/*
* bootstrap buttons override css
*/
.btn {
    border-radius: 2px !important;
}

.btn-primary {
    background-color: #00af41;
    border: 1px solid #00af41;
}

.btn-primary:hover {
    color: #fff;
    background-color: #009f3b;
    border-color: #009f3b;
}

/* Helper Classes*/

/* Buttons*/

button:focus {
    outline: 0 !important;
}

.btn-primary:active {
    background-color: #00af41 !important;
    border: 1px solid #00af41 !important;
}

.btn-primary:focus {
    background-color: #00af41 !important;
    border: 1px solid #00af41 !important;
}

/*Typography*/
.bg-red {
    color: #FFFFFF;
    background-color: #e31c21;
    text-align: center;
    padding: 0 2px;
}

.bg-purple {
    color: #FFFFFF;
    background-color: #872d91;
    text-align: center;
    padding: 0 2px;
}

.bg-blue {
    color: #FFFFFF;
    background-color: #0098ce;
    text-align: center;
    padding: 0 2px;
}

.text-faded {
    color: #9fa2a2;
}

/*Images*/
.img-content {
    display: inline-block;
    position: relative;
}

.img-content img {
    display: block;
    max-width: 100%;
}

.img-content .btn-primary {
    padding: 10px 22px;
}

/*
* Toggle accordion arrows
*/
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f054";
    float: right;
}

.accordion-opened .accordion-toggle:after {
    content: "\f078";

}

/* Products */

.product {
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 15px;
    width: 273px;
    float: left;
}

.product a {
    color: #231f1f;
}

.product .rating-sm {
    font-size: 1.0em;
}

.product .rating-container {
    float: left;
    margin-top: 2px;
}

.product .advert {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    height: 16px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.product-.navbar--default .profile-section-arrow {
    padding: 10px;
    text-decoration: none !important;
}

.products-header .pull-left {
    margin-left: -5px;
}

.product-detail {
    padding-top: 20px;
}

.product .product-detail hr {
    margin-bottom: 20px;
}

.product .product-detail .icon-heart {
    color: #999999;
    font-weight: 700;
    text-decoration: none;
}

.product .product-detail .price {
    color: #ed1d23;
    font-weight: 700;
    padding: 2px;
}

/*General*/
.scroll-container {
    overflow-x: auto;
}

/*Components*/
/*Rating Stars css override*/

.rating-container .filled-stars {
    color: #f9be00 !important;
    text-shadow: none !important;
    -webkit-text-stroke: unset !important;
}
.rating-container .star {
    margin: 0 1px !important;
}
.rating-container .empty-stars {
    color: #dfe0df !important;
}
.glyphicon-star-empty:before {
    content: '\e006';
}

/*Breadcrumbs*/
.breadcrumb-bar {
    /*centering*/
    overflow: hidden;
    padding: 0px 200px 0 150px;
    background-color: #231f1f;
}

.breadcrumb-bar a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 100;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0px 10px 0 30px;
    position: relative;
}

/*we dont need an arrow after the last link*/
.breadcrumb-bar a:last-child:after {
    content: none;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb-bar a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}

.breadcrumb-bar a:first-child:before {
    left: 14px;
}

.breadcrumb-bar a:last-child {
    color: #00af41;
    border-right: 1px solid #494646;
}

/*hover/active styles*/
/*.breadcrumb-bar a.active, .breadcrumb a:hover{*/
/*background: #333;*/
/*background: linear-gradient(#333, #000);*/
/*}*/
/*.breadcrumb-bar a.active:after, .breadcrumb a:hover:after {*/
/*background: #333;*/
/*background: linear-gradient(135deg, #333, #000);*/
/*}*/

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb-bar a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.907) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    border-right: 2px solid #494646;
    border-top: 2px solid #494646;
    /*5px - for rounded arrows and
    50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}

