/*mobile Layout*/
@media (max-width: 767px) {
    /*
    * header - navigation
    */
    .navbar--default .mobile-icon {
        position: relative;
        padding: 6px 0px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 20px;
        border-radius: 4px;
        text-decoration: none;
    }

    .navbar-brand {
        font-size: 14px;
    }

    .header--toggle-btn {
        border: none;
    }

    .navbar-toggle > .icon-bar {
        background-color: #ffffff;
    }

    .nav-main > ul > li:last-child {
        display: none;
    }

    header .nav-search {
        font-size: 15px;
    }

    /*
    * Slider
    */
    .carousel-content p {
        font-size: 16px;
    }

    .carousel-content {
        top: 40%
    }

    .carousel-inner > .item > img {
        height: 360px;
    }

    /*
    * Common Banner
    */
    .common-banner {
        background-image: url("../images/common-banner-mobile.png");
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 180px;
    }

    /*Containers*/
    #category-banners {
        background-color: #f4f4f2;
    }

    #category-banners .scroll-container .container {
        width: 720px;
    }

    #category-banners .container {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow-x: hidden;
        padding-bottom: 5px;
    }

    .category-index {
        max-width: 340px;
        background-color: #ffffff;
        padding-bottom: 10px;
        box-shadow: 1px 1px 1px 1px #eaeae9;
    }

    .category-index .category-content {
        text-align: center;
    }

    .category-index img {
        height: 240px;
    }

    #hero-products {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .products-header {
        border-top: 1px solid #c3c3c2;
    }

    .products-header .view-all p {
        font-size: 18px;
    }

    .products-header .view-all {
        padding-top: 30px;
    }

    .products-header .view-all .pull-left {
        padding-right: 0 !important;
    }

    #promotions {
        background-color: #f4f4f2;
    }

    .img-content .resource {
        top: 10%;
        left: 5%;
    }

    section#social-main {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img-content .food-finder {
        top: 0;
        left: 10%;
    }

    .img-content .career {
        top: 0;
        left: 52%;
    }

    .img-content .our-pack {
        top: 10%;
        left: 58%;
    }

    /*
    * newsletter button group
    */
    .newsletter-invitation .input-group .form-control,
    .newsletter-invitation .input-group-btn {
        display: block;
        border-radius: 4px;
        width: 100%;
    }

    .newsletter-invitation .input-group-btn .btn {
        display: block;
        border-radius: 4px;
        width: 100%;
        margin-top: 60px;
    }

    .newsletter-invitation .input-group-btn > .btn + .btn {
        margin-left: 0px;
    }

    .newsletter-invitation .input-group-btn:first-child > .btn {
        margin-right: 0px;
    }

    .newsletter-invitation .input-group-btn:last-child > .btn {
        margin-left: 0px;
    }

    .newsletter-invitation .input-group {
        width: 100%;
    }

    /*Footer*/
    footer .layer-footer {
        text-align: left !important;
        padding-left: 0;
        margin-top: -40px;
    }

    footer .panel-heading {
        border-bottom: 1px solid #383434 !important;
        margin-left: -30px;
        margin-right: -30px;
    }

    footer .social a > i {
        font-size: 3em;
    }

    footer .social {
        border-bottom: 1px solid #383434;
        margin: 0 -45px 15px -45px;
    }

    footer .social > [class*='col-'] {
        padding-bottom: 8px;
    }

    footer .copyright {
        margin-left: -30px;
    }

    /* helper classes */
    .img-content h2 {
        font-size: 20px;
    }

    .product {
        width: 180px !important;
    }

    .product-detail p {
        font-size: 12px;
        margin: 0;
    }

    .product-image img {
        height: 100px;
    }

    /*Components*/
    .breadcrumb-bar {
        padding: 0;
    }

    .breadcrumb-bar a:nth-last-child(2) {
        display: block !important;
    }

    .breadcrumb-bar .breadcrumb-list {
        display: block !important;
        padding-right: 15px;
    }

    .breadcrumb-bar a:after {
        border: none;
    }

    /*.text-large {*/
    /*font-size: 60px;*/
    /*font-weight: bold;*/
    /*font-family: Effra;*/
    /*}*/
    /*.text-md {*/
    /*font-size: 24px;*/
    /*}*/
}

/*Tablets layouts*/
@media (max-width: 992px) and (min-width: 768px) {

    #category-banners .scroll-container .container {
        width: 992px;
    }

    .category-index {
        max-width: 470px;
    }

    .category-index .btn-primary {
        padding: 8px 50px !important;
    }
}

/*Medium devices*/
@media (max-width: 1200px) and (min-width: 992px) {

    #category-banners .scroll-container .container {
        width: 1200px;
    }

}

/*Desktop*/
@media (min-width: 768px) {
    /*
    * header - navigation
    */
    .navbar--default .xs-screen-hidden {
        display: none;
    }

    .nav-main .navbar-nav > li {
        float: none;
        display: inline-block;
        *display: inline; /* ie7 fix */
        *zoom: 1; /* hasLayout ie7 trigger */
        vertical-align: top;
    }

    .navbar-nav {
        float: none;
        margin: 0;
        text-align: center;
    }

    .nav-search {
        display: none;
    }

    /*
    * Slider
    */
    .carousel-content .btn-primary {
        width: 300px;
        height: 50px;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
    }

    /*
    * Categories Banner
    */
    .category-index .category-content {
        position: absolute;
        top: 0;
        left: 4%;
        color: white;
    }

    .category-content .shop-buttons {
        margin-top: 250px;
    }

    .category-index .btn-primary {
        padding: 8px 60px;
        margin: 5px;
        border-radius: 2px;
        height: 50px;
    }

    .categories-banner img {
        height: 410px;
    }

    .product-circle-arrow {
        text-decoration: none !important;
        padding-right: 10px;
    }

    #promotions {
        padding-top: 90px;
    }

    section#social-main .container-fluid img {
        width: 100%;
    }

    section#newsletter .container {
        max-width: 440px;
    }

    /*
    * Footer
    */
    footer .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    footer .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    footer .col-md-2, .col-sm-2, .col-lg-2 {
        border-right: 1px solid #383434;
    }

    /*
    * Page Specifics
    */
    /*
    * Category Home
    */
    #categories-home .product-categories-grid {
        padding-right: 30px;
    }
    .categories-home-header .row > [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /*desktop helper classes*/
    .btn-large {
        font-size: 24px;
    }

    .text-large {
        font-size: 60px;
        font-weight: bold;
        font-family: Effra;
    }

    .text-md {
        font-size: 24px;
    }

    .product-heading {
        font-size: 36px !important;
    }

    .products-header .view-all .pull-left {
        padding-top: 2px;
    }

}




